wikipedia>=1.4.0
BeautifulSoup4==4.4
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow>=4.3
Werkzeug==0.9.6
argparse==1.2.1
cssselect==0.9.1
gunicorn==19.1.1
itsdangerous==0.24
lxml==3.4.0
newspaper3k==0.1.9
nltk==3.2.4
requests==2.4.3
six==1.8.0
stevedore==1.0.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
fakenews_detector==0.1.24
cloudinary
multiprocessing_generator
pymongo
scipy
